<p id="notice"><%= notice %></p>

<p>
  <b>Server Name:</b>
  <%= @server1.server_name %>
</p>

<p>
  <b>Installation Dir:</b>
  <%= @server1.installation_dir %>
</p>

<p>
  <b>Tool Dir:</b>
  <%= @server1.tool_dir %>
</p>

<p>
  <b>Protocols:</b>
  <%= @server1.protocols %>
</p>

<p>
  <b>Location:</b>
  <%= @server1.location %>
</p>

<p>
  <b>IP:</b>
  <%= @server1.IP %>
</p>

<p>
  <b>Server Login:</b>
  <%= @server1.server_login %>
</p>

<p>
  <b>Server Password:</b>
  <%= @server1.server_password %>
</p>

<p>
  <b>Description:</b>
  <%= @server1.description %>
</p>

<p>
  <b>IP Routing:</b>
  <%= @server1.IPRouting %>
</p>


<%= link_to 'Edit', edit_server1_path(@server1) %> |
<%= link_to 'Back', server1s_path %>
