<%= javascript_include_tag "jquery-1.11.3.js" %>
<%= javascript_include_tag "metisMenu.js" %>

<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" %>
<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css.scss.erb" %>


<script>
  $(function () {

    $('#menu').metisMenu({

      toggle: true // disable the auto collapse. Default: true.
    });
  });
</script>
<script>

  $('#menu').metisMenu({

// auto collapse.
    toggle: true,

// double tap to go
    doubleTapToGo: false,

// prevents or allows dropdowns' onclick events after expanding/collapsing.
    preventDefault: true,

// CSS classes
    activeClass: 'active',
    collapseClass: 'collapse',
    collapseInClass: 'in',
    collapsingClass: 'collapsing',

// callbacks
    onTransitionStart: false,
    onTransitionEnd: false

  });
</script>



<ul id="menu">
  <li class="active"> <a href="#">User Administration <span class="fa arrow"></span></a>
    <ul>
      <li><%= link_to "User Registration", new_user_path %></li>
      <li><%= link_to "Project Registration", new_project_path %></li>
      <li><%= link_to "Role Details", new_role_path %></li>
      <!--<li><a href="#">item 0.4</a></li>-->
    </ul>
  </li>
  <li> <a href="#">System Administration<span class="glyphicon arrow"></span></a>
    <ul>
      <li> <%= link_to "Storage Configuration", storage_configuration_path %>

        </li>
      <li><%= link_to "Register Server", register_server_path %></li>
      <!--<li> <a href="#">Menu 1.3 <span class="fa plus-times"></span></a>-->
        <!--<ul>-->
          <!--<li><a href="#">item 1.3.1</a></li>-->
          <!--<li><a href="#">item 1.3.2</a></li>-->
          <!--<li><a href="#">item 1.3.3</a></li>-->
          <!--<li><a href="#">item 1.3.4</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <li><%= link_to "Register Database", register_database_path %></li>
      <!--<li> <a href="#">Menu 1.5 <span class="fa plus-minus"></span></a>-->
        <!--<ul>-->
          <!--<li><a href="#">item 1.5.1</a></li>-->
          <!--<li><a href="#">item 1.5.2</a></li>-->
          <!--<li><a href="#">item 1.5.3</a></li>-->
          <!--<li><a href="#">item 1.5.4</a></li>-->
        <!--</ul>-->
      <!--</li>-->
    </ul>
  </li>
  <!--<li> <a href="#">Menu 2 <span class="glyphicon arrow"></span></a>-->
    <!--<ul>-->
      <!--<li><a href="#">item 2.1</a></li>-->
      <!--<li><a href="#">item 2.2</a></li>-->
      <!--<li><a href="#">item 2.3</a></li>-->
      <!--<li><a href="#">item 2.4</a></li>-->
    <!--</ul>-->
  <!--</li>-->
</ul>